In [2]:
import numpy as np
import pandas as pd
import random
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import GridSearchCV

In [12]:
bank = pd.read_csv("bank_normalized_final.csv", header=None)

In [13]:
bank.head()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,age,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,education_un,job_un,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y_yes
1,56,1,0,1.1,93.994,-36.4,4.857,5191.0,0,0,...,0,0,1,0,0,0,0,1,0,0
2,57,1,0,1.1,93.994,-36.4,4.857,5191.0,0,0,...,0,0,1,0,0,0,0,1,0,0
3,37,1,0,1.1,93.994,-36.4,4.857,5191.0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,40,1,0,1.1,93.994,-36.4,4.857,5191.0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [14]:
bank.columns = bank.iloc[0]

In [24]:
bank

,age,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,education_un,job_un,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y_yes
0,age,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,education_un,job_un,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y_yes
1,56,1,0,1.1,93.994,-36.4,4.857,5191.0,0,0,...,0,0,1,0,0,0,0,1,0,0
2,57,1,0,1.1,93.994,-36.4,4.857,5191.0,0,0,...,0,0,1,0,0,0,0,1,0,0
3,37,1,0,1.1,93.994,-36.4,4.857,5191.0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,40,1,0,1.1,93.994,-36.4,4.857,5191.0,0,0,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41184,73,1,0,-1.1,94.767,-50.8,1.028,4963.6,0,0,...,0,1,0,0,0,0,0,1,0,1
41185,46,1,0,-1.1,94.767,-50.8,1.028,4963.6,0,0,...,0,1,0,0,0,0,0,1,0,0
41186,56,2,0,-1.1,94.767,-50.8,1.028,4963.6,0,0,...,0,1,0,0,0,0,0,1,0,0
41187,44,1,0,-1.1,94.767,-50.8,1.028,4963.6,0,0,...,0,1,0,0,0,0,0,1,0,1
41188,74,3,1,-1.1,94.767,-50.8,1.028,4963.6,0,0,...,0,1,0,0,0,0,1,0,0,0

In [25]:
bank = bank.drop(bank.index[0])

In [26]:
bank

,age,campaign,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,education_un,job_un,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y_yes
1,56,1,0,1.1,93.994,-36.4,4.857,5191.0,0,0,...,0,0,1,0,0,0,0,1,0,0
2,57,1,0,1.1,93.994,-36.4,4.857,5191.0,0,0,...,0,0,1,0,0,0,0,1,0,0
3,37,1,0,1.1,93.994,-36.4,4.857,5191.0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,40,1,0,1.1,93.994,-36.4,4.857,5191.0,0,0,...,0,0,1,0,0,0,0,1,0,0
5,56,1,0,1.1,93.994,-36.4,4.857,5191.0,0,0,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41184,73,1,0,-1.1,94.767,-50.8,1.028,4963.6,0,0,...,0,1,0,0,0,0,0,1,0,1
41185,46,1,0,-1.1,94.767,-50.8,1.028,4963.6,0,0,...,0,1,0,0,0,0,0,1,0,0
41186,56,2,0,-1.1,94.767,-50.8,1.028,4963.6,0,0,...,0,1,0,0,0,0,0,1,0,0
41187,44,1,0,-1.1,94.767,-50.8,1.028,4963.6,0,0,...,0,1,0,0,0,0,0,1,0,1
41188,74,3,1,-1.1,94.767,-50.8,1.028,4963.6,0,0,...,0,1,0,0,0,0,1,0,0,0

In [27]:
bank.columns.values

array(['age', 'campaign', 'previous', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'education_un',
       'job_un', 'housing_un', 'loan_un', 'pdays_missing',
       'pdays_greater_15', 'pdays_bet_5_15', 'job_admin.',
       'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_retired', 'job_self-employed',
       'job_services', 'job_student', 'job_technician', 'job_unemployed',
       'marital_divorced', 'marital_married', 'marital_unknown',
       'education_basic.4y', 'education_basic.6y', 'education_basic.9y',
       'education_high.school', 'education_illiterate',
       'education_professional.course', 'education_university.degree',
       'default_unknown', 'default_yes', 'housing_yes', 'loan_yes',
       'contact_telephone', 'month_apr', 'month_aug', 'month_dec',
       'month_jul', 'month_jun', 'month_mar', 'month_may', 'month_nov',
       'month_oct', 'month_sep', 'day_of_week_fri', 'day_of_week_mon',
       'day_of_week_thu', 'day_of_week_tue', 'day_of_week_wed',
       'poutcome_failure', 'poutcome_nonexistent', 'poutcome_success',
       'y_yes'], dtype=object)

In [29]:
class RegularizedLogisticRegressionModel:
    def __init__(self, lr=0.01, num_iter=100000, fit_intercept=True,lagrange_mul=1):
        self.lr = lr
        self.num_iter = num_iter
        self.fit_intercept = fit_intercept
        self.lagrange_mul=lagrange_mul
    
    def add_intercept(self, X):
        intercept = np.ones((X.shape[0], 1))
        return np.concatenate((intercept, X), axis=1)
    
    def sigmoid(self, z):        
        return 1 / (1 + np.exp(-z))
        
    def grad(self, X, y,w,w0,lagrange_mul):
        N=X.shape[0]
        #print(w0)
        tmp=0
        tmp2=0
        
        for i in range(N):
            z=X[i].dot(w)+w0
            f_x_i=self.sigmoid(z)
            tmp +=f_x_i-y[i]
            #print(tmp)
            tmp3=np.array([X[i]])
            #print(tmp3.shape)
            tmp2 +=(tmp3.T).dot((f_x_i-y[i]))
        
        tmp2=np.array([tmp2])
        tmp2=tmp2.T
        
        w0=w0-(self.lr/N)*(tmp)
        w=w*(1-(self.lr*lagrange_mul)/N) - (self.lr/N)*(tmp2)
        return w,w0 
    
    def predict_prob(self, X,w):
        if self.fit_intercept:
            X = self.add_intercept(X)
        #w=w/X.shape[0]
        z=np.dot(X, w)
        
        result=self.sigmoid(z)
        #print(result)
        return result
    
    def predict(self, X, threshold,w):
        return self.predict_prob(X,w) >= threshold
    
    def loss(self, f_x, y,w,lagrange_mul):
        n=w.shape[0]
        N=f_x.shape[0]
        
        tmp=0
        tmp2=0
        for i in range(1,n):
            tmp +=w[i]**2
        for i in range(N):
            tmp2 +=y[i]*np.log(f_x[i]) + (1-y[i])*np.log(1-f_x[i])
        j_w= -tmp2+lagrange_mul*tmp       
        return j_w/N
    
    def write_prediction(self,filename,preds):
        param_file=open(filename,"w")
        for i in range(0,len(preds)):
            if(preds[i]==True):
                param_file.write(str(1))
            else:
                param_file.write(str(0))
            param_file.write("\n")
        param_file.close()
    
    def get_classifications(self,y,preds):
        preds_val=[]
        tp=0
        tn=0
        fp=0
        fn=0
        for i in range(len(preds)):
            if(preds[i] == True):
                preds_val.append(1)
            else:
                preds_val.append(0)
            if(preds_val[i] ==y[i]):
                if(preds_val[i]==1):
                    tp=tp+1
                else:
                    tn=tn+1
            else:
                if(preds_val[i]==1):
                    fp=fp+1
                else:
                    fn=fn+1  
        
        return tp,tn,fp,fn   
    def get_perf_params(self,tp,tn,fp,fn):
        sensitivity=0
        specificity=0
        precision=0
        f_measure=0
        if(tp+fn !=0):
            sensitivity=tp/(tp+fn)
        if(tn+fp !=0):
            specificity=tn/(tn+fp)
        if(tp+fp !=0):
            precision=tp/(tp+fp)
        if(precision + sensitivity !=0):
            f_measure=(2*precision*sensitivity)/(precision+sensitivity)
        accuracy=(tp+tn)/(tp+tn+fp+fn)
        
        return accuracy,sensitivity,specificity,precision,f_measure

In [30]:
N,n = bank.shape
print(N)
data = bank.iloc[1:N,:]
arr = data

41188

In [31]:
arr = data.to_numpy(dtype = float)

In [32]:
arr.shape

(41187, 60)

In [33]:
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib notebook 
#to enable interactivity and rotation of 3D figures 
from mpl_toolkits.mplot3d import Axes3D
from sklearn.model_selection import train_test_split

data = arr
log_model = RegularizedLogisticRegressionModel(0.6,10000,True,2)


print(data.shape)
N=arr.shape[0]
n=arr.shape[1]
X=arr[:,0:n-1]
y=arr[:,n-1:n]
    
    
mean_X=np.mean(X,axis=0)
std_X=np.std(X,axis=0)    
X=(X-mean_X)/(std_X)    
neg_vals=0
for i in range(y.size):
    if(y[i] == -1):
        y[i]=0
        neg_vals +=1
        
w_old=np.zeros((n-1,1))
w0_old=0
norm=1000*10000
w_new=w_old
iteration_no=0
while(norm > 1e-3 and iteration_no < log_model.num_iter):
    w_new,w0_new=log_model.grad(X,y,w_old,w0_old,0.1)
    norm=np.linalg.norm(w_new-w_old)
    w_old=w_new
    w0_old=w0_new
    iteration_no +=1

w_new=np.vstack((w0_new,w_new))
preds = log_model.predict(X,0.5,w_new)
tp,tn,fp,fn=log_model.get_classifications(y,preds)
   
accuracy,sensitivity,specificity,precision,f_measure=log_model.get_perf_params(tp,tn,fp,fn)
    
print("tp=",tp)
print("tn=",tn)
print("fp=",fp)    
print("fn=",fn)
    
print("Accuracy=",accuracy)
print("Sensitivity=",sensitivity)
print("Specificity=",specificity)
print("Precision=",precision)
print("F_measure=",f_measure)

(41187, 60)
tp= 1055
tn= 36035
fp= 512
fn= 3585
Accuracy= 0.9005268652730231
Sensitivity= 0.2273706896551724
Specificity= 0.9859906421867732
Precision= 0.6732610082961072
F_measure= 0.33993877879813117